<app-header></app-header>
<div class="container">
    <h2>Productos para el cuidado </h2>
    
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/pedispa.jpg" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title">Sales relajantes</h5>
            <p class="card-text">limpian suavemente los pies cansados y estresados, desodorizan y suavizan las callosidades para una piel suave y renovada.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/pedispa2.jpg" alt="Producto 2">
          <div class="card-body">
            <h5 class="card-title">Mantequilla frutal</h5>
            <p class="card-text">Las mantequillas frutales excelente para mantener el cuidado de la piel. Proporcionan una gran hidratación y nutrición en la piel.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/pedispa3.jpg" alt="Producto 3">
          <div class="card-body">
            <h5 class="card-title">Jelly spa relajante</h5>
            <p class="card-text">es un tratamiento que hidrata y suaviza la piel de tus pies. Gracias a su textura gelatinosa, relaja y exfolia preparándolos para cualquier tratamiento posterior. </p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
