<app-header></app-header>
<div class="container">
  <h2>Productos para el cuidado </h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/pedispa.jpg" alt="Producto 1">
        <div class="card-body">
          <h5 class="card-title">Sales relajantes</h5>
          <p class="card-text">limpian suavemente los pies cansados y estresados, desodorizan y suavizan las
            callosidades para una piel suave y renovada.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/pedispa2.jpg" alt="Producto 2">
        <div class="card-body">
          <h5 class="card-title">Mantequilla frutal</h5>
          <p class="card-text">Las mantequillas frutales excelente para mantener el cuidado de la piel. Proporcionan una
            gran hidratación y nutrición en la piel.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/pedispa3.jpg" alt="Producto 3">
        <div class="card-body">
          <h5 class="card-title">Jelly spa relajante</h5>
          <p class="card-text">es un tratamiento que hidrata y suaviza la piel de tus pies. Gracias a su textura
            gelatinosa, relaja y exfolia para un descanso total.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/pedispa4.jpg" alt="Producto 4">
        <div class="card-body">
          <h5 class="card-title">Aceite de cuticula</h5>
          <p class="card-text">humedad y evitan la aparición de 'pellejitos'. 3- Si nuestra clienta mantiene de forma correcta sus cutículas, 
            nuestro trabajo lucirá mejor, y su satisfacción también será mayor durante más tiempo.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/pedispa5.jpg" alt="Producto 5">
        <div class="card-body">
          <h5 class="card-title">Exfoliante</h5>
          <p class="card-text">Elimina la piel seca, áspera y gruesa alrededor de las uñas. Nutre e hidrata las uñas y las cutículas.
            para un mejor resultado y cuidado de nuestras manos y uñas </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/pedispa6.jpg" alt="Producto 6">
        <div class="card-body">
          <h5 class="card-title">Kit cuidado diario </h5>
          <p class="card-text">Este es el accesorio más importante para el cuidado de tus pies y manos, te ayudará a cuidar tus uñas como se debe, es perfeco para cargar en maleta de viaje o s
            implemente en nuestro dia a dia evitando que se acumule suciedad y bacterias.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>