  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dianne mormont</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="dropdown-item" routerLink="/producto">Producto</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" routerLink="/registro">Registro</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" routerLink="/contactenos">Contactenos</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" routerLink="/mision">Mision</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" routerLink="/vision">Vision</a>
        </li>
      </ul>
    </div>
  </nav>